#container{
  background-color: lightgray;
  margin: auto;
  height: auto;
  width: 500px;
}

#textContainer{
  margin-left: 100px;
}

#buttonContainer{
  margin-left: 130px;
}

li{
  margin: 5px;
}

.hideText{
  display: none;
}

label{
  margin-left: 5px;
}
